/* Enlaces sin subrayado */
a:link, a:visited, a:active {
    text-decoration:none;
}

/* Contenedor principal*/
.contenedor {
    width: 96%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
}

/* Contenedor Header */
.contenedor .header {
    background: #554c70;
    color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

/* Contenedor contenido */
.contenedor .contenido {
    grid-column: span 3;
    background: #bcdef6;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Contenedor sidebar */
.contenedor .sidebar {
    grid-column: 4/5;
    background: #aed92c;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/4;
}

/* Contenedor imagen 1 */
.contenedor .imagen1 {
    grid-column: 1/2;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor imagen 2 */
.contenedor .imagen2 {
    grid-column: 3/4;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor video */
.contenedor .video {
    grid-column: 2/3;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profe teorico */
.profe-t {
    grid-column: 1/3;
    background: #6aea75;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: black;
    text-decoration: none;
}

/* Profe teorico HOVER*/
.profe-t:hover {
    background: #6ff77b;
}

/* Profe practico */
.profe-p {
    grid-column: 3/5;
    background: #b5b0f8;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: black;
    text-decoration: none;
}

/* Profe practico HOVER*/
.profe-p:hover {
    background: #bebaf8;
}

/* Contenedor footer */
.contenedor .footer {
    grid-column: 1/5;
    text-align: center;
    color: white;
    background: #e2255e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* Ancho de imagen 1 */
.imagen1 img {
    width: 100%;
}

/* Ancho de imagen 2 */
.imagen2 img {
    width: 100%;
}

/* Ancho y alto de video */
.video video {
    width: 100%;
    height: 100%;
}

/* Boton sidebar */
.btn {
    background-color: #bb1446;
    color: white;
    line-height: 2.5;
    padding: 0 20px;
    margin: 5px;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    text-decoration: none;
  }

/* Boton 1 sidebar HOVER*/
.btn1:hover {
    background-color: #0b66c3;
}

/* Boton 2 sidebar HOVER*/
.btn2:hover {
    background-color: #2b2b2b;
}

/* Boton sidebar ACTIVE*/
.btn:active {
    background-color: #b95372;
}

/* h1 */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

/* h2 */
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

/* ul */
ul {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height:1.5em;
}